<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>Stories</h1>
    <ul>
      <% for (const story of stories) { %>
        <li><%= story.title %></li>
      <% } %>
    </ul>
  </body>
</html>
